@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&family=Yellowtail&display=swap');

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

a{
    text-decoration: none;
    color:#38ccb7;
    font-size: 1rem;
}

body{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;;
}

h1,h2{
    font-family: 'Yellowtail', cursive;
    text-transform: none;
    font-weight: normal;
    color:#38ccb7;
}

.menu{
    background: #333333;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
}

.links{
    display:flex;
    flex-wrap: wrap;
    justify-content: end;
    width:30%;
}

.nav_link{
    display: inline-block;
    margin: 1% 2%;
    text-decoration: none;
    color:#38ccb7;
    padding: .5% 3%;
    border: 1px solid #38ccb7;
}

.name{
    font-size: 2.2rem;
    color:#38ccb7;
    text-align: center;
    margin:1%;
}

.selected{
    background: #38ccb7;
    color:#333333;
}

.wrapper{
    background: url(/assets/prism.png);
}

.hero{
    display: flex;
    justify-content: center;
}

.cta{
    height:85vh;
    background-image: url(/assets/ManWithPaintBrush.jpeg);
    width: 80%;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    margin: 2% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solid {
    background-color: #333333;
}

h1{
    font-size: 4rem;
    text-shadow:
      3px 3px 0 #333333,
    -1px -1px 0 #333333,  
     1px -1px 0 #333333,
     -1px 1px 0 #333333,
      1px 1px 0 #333333
}


.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top:1%;
}

.item img{
    margin-bottom:1%;
    width:auto;
}

.item{
    margin: 0 0 2% 0;
    display:inline-block;
    width:32%
}

.footer{
    background: #333333;
    display: flex;
    justify-content: center;
    
}

.nav_link:hover{
    background-color:#cc3879;
    border-color: #cc3879;
    color: white;
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
    MEDIA QUERIES
   ----------------------------------------------
*/

@media (max-width:800px){
    .cta{
        width:90%;
        height:35vh;
        background-position: bottom;
        background-attachment: scroll;
        
    }

    .links{
        width:50%;
    }

    .item{
        width:45%;
    }
}

@media(max-width:500px){

    .menu{
        flex-direction: column;
    }

    .item img{
        object-fit: cover;
        height:175px;
    }

    .grid{
        justify-content: space-evenly;
    }

    h1{
        font-size:3.5rem;
    }

    .item{
        width:45%;
        /* margin: 0 3%; */
    }

    .name{
        margin: 2% 0;
    }

    .links{
        flex-direction: column;
        text-align: center;
        width: 25%;
        margin-bottom: 4%;
    }

    .footer{
        padding:1.5%;
    }
}

/* KEY FRAMES */
/* ----------------------------------------------
 * Generated by Animista on 2020-8-6 18:43:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    50% {
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    50% {
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
  }
  